## Build output
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
artifacts/

## NuGet
/packages/
*.nupkg
*.snupkg

## Logs and coverage
[Ll]og/
[Ll]ogs/
CodeCoverage/
*.binlog

## User and IDE-specific files
*.user
*.suo
*.rsuser
.idea/
riderModule.iml
/_ReSharper.Caches/

## Common temporary files
~$*
*~
